*DS_Store*
*.pbxuser
*.perspectivev3
*.pbxbtree
*.pbxsymbols
*.hmap
*.dep
*.o
*.LinkFileList
*.dat
*.app
*.dSYM
*.pbxstrings
*.pbxindex
*.log
*.build
build/*
*(Autosaved)*
*.xcworkspace
*.xcodeproj/xcuserdata/*
